.rowHeader {
    max-width: 100%;
}

.voltaRelativo > i {
    font-size: 35px;
    padding: 23px 15px;
    color: #2a2a2a;
    text-shadow: 1px 1px #fafafa;
}

.titulo {
    font-size: 24px !important;
    font-weight: bold !important;
    margin-top: 25px !important;
    margin-bottom: 30px !important;
    float: left !important;
    color: #2a2a2a;
    width: auto!important;
}

.btn-notify {
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    margin-top: 25px;
    color: white;
    box-shadow: 1px 1px 11px -8px black;
}

#core-menu-custom-bottom li.active i, #core-menu-custom-bottom li.active div, #core-menu-custom-bottom li.active span:not(.badge-notification) {
    color: #ecbd00 !important;
}

.mdi-arrow-left {
    font-size: 32px;
    margin-left: -4px;
}

.mt-6 {
    margin-top: 2px;
}

.texto {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 18px;
    float:left;
    width: 100%;
}

#notificacao figure img {
    max-width: 280px;
}

h6 {
    font-weight: 600;
}