<section id="mensagem">
    <div class="container">
        <div class="row rowHeader">
            <a href="#back" class="voltaRelativo float-left">
                <i class="material-icons float-left">arrow_back</i>
                <h3 class="titulo float-left">Notificações</h3>
            </a>
            <button class="btn-notify site-btn-push theme" onclick="subscribeUser();">
                <i class="material-icons float-left">notifications</i>
            </button>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="notificacoes" data-template="note" data-realtime-db="noteFuncao" data-db="notifications_report" data-template-loop="1"></div>
            </div>
        </div>
    </div>
</section>