<div class="contact-profile">
    <a href="#back" data-animation="back">
        <i class="material-icons" id="arrowback">arrow_back</i>
        <img src="{{imagem}}" id="perfil-image" height="40" width="40" class="float-left mt-2" />
    </a>
    <div id="perfil-info">
        <h6 id="perfil-name" class="float-left pl-3 mb-0">{{nome}}</h6>
        <span id="perfil-status" class="float-left pl-3">{{{mensagens.status}}}</span>
    </div>
    <div class="social-media">
        <i class="material-icons">more_vert</i>
    </div>
</div>