<ul class="col">
    <a href="perfilUsuario/{{id}}" id="perfil-link">
        <li>Ver perfil</li>
    </a>
    <div id="silenciar">
        <li>Silenciar</li>
    </div>
    <div id="bloquear">
        <li>Bloquear</li>
    </div>
</ul>