<nav class="sidebar z-depth-2 collapse color-gray-light no-select config-nav space-header"
     id="mySidebar">
    <div class="container row padding-4" style="background-color: #e9e9e9">
        <div id="config-sidebar-imagem" class="col" style="height: 60px; width: 60px"></div>
        <div class="rest padding-left padding-bottom">
            <strong class="col padding-top no-select" id="config-sidebar-nome"></strong>

            <div class="col">
                <span class="btn-edit-perfil left pointer padding-small color-gray-light opacity hover-opacity-off hover-shadow radius">
                    <i class="material-icons left font-large">edit</i>
                </span>
            </div>
        </div>
    </div>
    <hr style="margin:0 0 10px 0;border-top: solid 1px #ddd;">
    <div class="bar-block" id="config-menu"></div>
</nav>

<div class="main config-main animate-left">
    <div id="config" class="config-tab container row">
        <div class="col relative">
            <header class="container s-padding-small">
                <h5 class="left padding-32 s-padding-12 s-padding-tiny">
                    <b>
                        <i class="material-icons left padding-right">settings</i>
                        <span class="left">Configurações</span>
                    </b>
                </h5>
            </header>
            <div class="col s12 m9 padding-small config-panel"></div>
            <div class="col s12 m3 padding-small config-note"></div>
        </div>
    </div>
</div>