<nav class="z-depth-2 mode-background-colorLine mode-text-colorText no-select" id="mySidebar"></nav>

<div class="main config-main mode-background-colorBackground mode-text-colorText">
    <div id="dashboard" class="config-tab container row">
        <div class="col relative">
            <div class="col s12 padding-small" id="config-panel"></div>
        </div>
    </div>
</div>