#mySidebar {
    z-index: 21;
    top: inherit;
    overflow: hidden;
    border-top: 0;
    width: 100%;
    height: 50px;
}

#mySidebar > a {
    float: left;
    padding: 12px 10px;
    display: block;
}

.menu-config-lista {
    width: 450px !important;
    overflow: hidden;
    height: 34px
}

.relatorios_card_value {
    line-break: anywhere;
}

@media only screen and (min-width: 700px) {
    .btn-panel-sync {
        width: 200px;
        min-height: 110px;
    }
}