<div class="core-class-container mode-background-colorLine mode-text-colorText" id="core-sidebar-header">
    <div id="core-sidebar-perfil" class="core-class-container theme-border-l">
        <div class="left" id="core-sidebar-imagem" data-realtime-html>
            {{#USER.imagem}}
                <div id='core-sidebar-perfil-img' class="col radius-circle" style="background-image: url('{{urls.thumb}}');"></div>
            {{/USER.imagem}}
            {{^USER.imagem}}
                <i class='material-icons' style="font-size: 44px;float: left;padding: 10px 10px 0;">people</i>
            {{/USER.imagem}}
        </div>

        <div id="core-sidebar-perfil-name">
            <div class="core-class-container" id="core-header-name">
                <strong id="core-sidebar-nome" data-realtime-html>{{USER.nome}}</strong>

                <span id="core-sidebar-edit" onclick="pageTransitionOnIframe('form-maestru/{{USER.setor}}/{{USER.setorData.id}}', 'Perfil')">
                    <i class="material-icons">edit</i>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="core-sidebar-main" class="core-class-container" data-get="menu" data-realtime-get>
    <ul id="core-sidebar-menu" class="core-class-container mode-text-colorText" data-realtime-html>
        {{#.}}
            <a data-preventDefault="true" href="#" onclick="pageTransitionOnIframe('{{view}}', '{{title}}')">
                <li>
                    {{#icon}}<i class="material-icons pr-2" style="width: 25px">{{icon}}</i>{{/icon}}
                    <div class="float-left" style="width: calc(100% - 25px)">{{title}}</div>
                </li>
            </a>
        {{/.}}
    </ul>
</div>

<div class="core-sidebar-bottom">
    <div onclick="updateAppUser();" class="mode-background-colorBox update-site-btn">
        <i class="material-icons mode-text-colorText">refresh</i>
    </div>

    <div id="login-aside" onclick="logoutDashboard()">
        <div class="mode-text-colorText">sair</div>
        <i class="material-icons mode-text-colorText">exit_to_app</i>
    </div>
</div>

<script>
    let btnLoginAside = document.querySelector("#login-aside");
    if (USER.setor != 0) {
        btnLoginAside.children[0].innerHTML = "sair";
        btnLoginAside.children[1].innerHTML = "exit_to_app";
    } else {
        $("#core-sidebar-edit").remove();
        btnLoginAside.children[0].innerHTML = "entrar";
        btnLoginAside.children[1].innerHTML = "lock_open";
    }
</script>