<div class="card">
    <h2>{{title}}</h2>
    <i class="material-icons">forward</i>
    <p>{{description}}</p>
    <div class="pic" style="background-image: url('{{image}}')"></div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <a href="{{url}}"></a>
</div>