<div id="core-header-container">
    <header id="core-header-logo">
        <a href="{{home}}{{homepage}}" id="logo-href">
            <img src='{{home}}assetsPublic/img/favicon-48.png?v={{version}}' height='35' style='height: 35px;padding-right:5px' class='core-header-img'>
            <h1 id='core-header-title' class='theme-text-aux'>{{sitename}}</h1>
        </a>
    </header>

    <nav role="navigation">
        <ul id="core-header-nav">
            <div id="core-menu-custom"></div>
        </ul>
    </nav>
</div>