{{#notificacoes}}
    <div class="notification-item" rel="{{id}}">
        <div class="notification-card{{#recebeu}} readed{{/recebeu}} no-select">
            <div class="notification-content-left">
                <img src="{{notificacaoData.imagem}}" width="50" height="50" class="imagem-notificacao"/>
                <div class="note-time font-weight-bold">{{notificacaoData.data}}</div>
            </div>
            <div class="notification-content-right">
                <a href="{{notificacaoData.url}}" class="notification-content notification-title font-weight-bold h6 mb-2">
                    {{{notificacaoData.titulo}}}
                </a>
                <div class="notification-content notification-desc">
                    {{{notificacaoData.descricao}}}
                </div>
            </div>
        </div>
        <i class="material-icons" onclick="closeNote({{id}}, {{notificacao}})">delete</i>
    </div>
{{/notificacoes}}

<script>
    new TouchLeft($(".notification-card"), -70, 50, 0);
</script>