{{#notificacoes}}
    <div data-href="{{notificacaoData.url}}" class="notification-item" rel="{{id}}">
        <div data-href="{{notificacaoData.url}}" class="notification-card no-select">
            <div class="notification-content-left">
                <img src="{{notificacaoData.imagem}}" width="50" height="50" class="imagem-notificacao"/>
                <div class="note-time">{{notificacaoData.data}}</div>
            </div>
            <div class="notification-content-right">
                <h6 class="notification-content notification-title">
                    {{{notificacaoData.titulo}}}
                </h6>
                <div class="notification-content notification-desc">
                    {{{notificacaoData.descricao}}}
                </div>
            </div>
        </div>
        <i class="material-icons" onclick="closeNote({{id}}, {{notificacao}})">delete</i>
    </div>
{{/notificacoes}}

<script>
    new TouchLeft($(".notification-card"), -70, 50, 0);
</script>